* {
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.whole {
	width: 1400px;
	height: 1400px;
	margin: 0 auto;
}

.Header {
	width: 1400px;
	height: 220px;
}

.logo {
	float: left;
	padding-top: 20px;
	padding-right:30px;
}

.logo img{
	float:left;
}


h1 {
	font-size: 30px;
	font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
	font-weight: 400;
	text-align: left;
	float:left;
	line-height: 190px;
	margin-left: 40px;
	text-transform: uppercase; 

}

.toptype {
	display: inline;
	vertical-align: top;
	line-height: 28px;
}

.nav {
	text-align: right;
	padding-right: 190px;
}

.nav ul {
	list-style-type: none;
}

.nav ul li {
	font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0 25px 0 25px;
  	display: inline-block;
  	color: #000000;
  	line-height: 220px;
  	text-transform: uppercase;
}



.mainimg {
	width: 1400px;
	height: 960px;
}

/*#photo {
	position: center;
}*/

.footer {
	width: 1400px;
	height: 260px;
	text-align: left;

}

.footer p {
	padding-top: 110px;
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	
}

h2 {
	text-align: right;
	font-family: "alternate-gothic-no-3-d", helvetica, arial, sans-serif;
	padding-right: 230px;
	}

.social {
	float: right;
	text-align: right;
	display: inline-block;
	padding-right: 220px;
	height: 140px;
	
	
}